<link href='/css/general_listings' rel='stylesheet'>
<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <div class = 'col-md-3 thumbnail my-thumbnails'>
          <div class='col-md-12'>
            <img class = 'listing-image' src="<%= listing.avatar %>" %>
            <h4 class='listing-price'><%= number_to_currency(listing.price) %></h4>
          </div>
          <div class='col-md-12 listing-info'>
            <p><%= listing.address %></p>
            <p><%= listing.city %></p>
            <p><%= listing.state %></p>
            <p><%= listing.zip_code %></p>
            <a class='btn btn-primary' href='listings/:id'>See More</a>
          </div>
          <div class='col-md-12 listing-info'>
            <td><%= link_to 'Show', listing %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>



<!-- <div class = 'thumbnail col-md-3 my-thumbnails'>
  <div class='col-md-12'>
      <img class='listing-image' src="http://lorempixel.com/200/100/sports">
      <h4 style="color: #000; text-align: center; margin-top: 10%">$1000</h4>
  </div>
  <div class='col-md-12 listing-info'>
      <p>123 Main St</p>
      <p>Apt 5A</p>
      <p>Anywhere, NY 01234</p>       
  </div>
</div> -->