<p id="notice"><%= notice %></p>

<div class = 'col-md-3 thumbnail my-thumbnails'>
  <div class='col-md-12'>
    <img class = 'listing-image' src="<%= listing.avatar %>">
    <h4 class='listing-price'>$<%= listing.price %></h4>
  </div>
  <div class='col-md-12 listing-info'>
    <p><%= listing.address %></p>
    <p><%= listing.city %></p>
    <p><%= listing.state %></p>
    <p><%= listing.zip_code %></p>
  </div>
  <div class='col-md-12 listing-info'>
    <td><%= link_to 'Show', listing %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
    <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
