<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well well-sm">
          <%= form_for(resource, html: { class: 'form-horizontal' }, as: resource_name, url: session_path(resource_name)) do |f| %>
          <fieldset>
            <legend class="text-center header">Log Into My Account</legend>    

            <div class="form-group">              
              <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-user bigicon"></i></span>
              <div class="col-md-4">
                <%= f.email_field :email, autofocus: true, placeholder: "Username or Email Address", class: "form-control" %>
              </div>
            </div>

            
            <div class="form-group">
              <span class="col-md-1 col-md-offset-3 text-center"><i class="fa fa-lock bigicon"></i></span>
              <div class="col-md-4">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <div class="col-md-offset-4 col-md-4">
                  <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "f-black" %>
              </div>
            </div>
            <br>
            <% end -%>

            <div class="col-md-4 col-md-offset-4">
              <%= render "users/shared/links" %>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
              </div>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>
    </div>
</div>
