<nav style='background-color:#d3d3d3' class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="/">
                <span class="light"><h3 style="color: #000">HomeFlipper</h3></span>
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/about_us" style="color: black">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/faq" style="color: black">FAQ</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/listings" style="color: black">View Listings</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/users/sign_in" style="color: black">Sign In</a>
                  </li>
              </ul>
          </div>
        <!-- /.navbar-collapse -->
      </div>
    <!-- /.container -->
</nav>