<!-- Contact Form - START -->
<div class="container">
<a href="" name="content"></a>
  <div class="row">
     <div class="col-md-12">
        <div class="well well-sm">
          <!-- <form class="form-horizontal" method="post"> -->
          <!-- <fieldset> -->
            <legend class="text-center header-black"><h2>About HomeFlipper</h2></legend>
            <!-- About Section -->
            <section id="about" style="color: black" class="container text-center">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- <h2>About HomeFlipper</h2> -->
                        <p class="left-align">HomeFlipper allows groups of investors to pool their funds, invest in a property, and then remodel it, repurpose it, flip it, rent it out, or some combination of these.</p>
                        <p class="left-align">Investors then share the profits from whatever venture the property is used to pursue.</p>
                        <p class="left-align">Each listing has a project manager, a licensed realtor, active investors, and may have passive investors.</p>
                        <p class="left-align"> For more information please visit our FAQ section.</p>
                    </div>
                </div>
            </section>                
          <!-- </fieldset> -->
          <!-- </form> -->
        </div>
      </div>
  </div>
</div>