
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    <small>Frequently Asked Questions</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    What Do I Wear To Practice?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                We Highly Recommend Wearing Loose Fitting Clothes.  Also Please Refrain From Wearing Jewellery That Could Interfere With Practice.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    How Much Does It Cost To Join?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                The University At Buffalo Kendo Club has, and always will be free to it's Undergraduate Members.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    How Much Is (Item)?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Please Check The Pricing Table In Other Pages Tab.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    The Item I Want Isn't In The Pricing Table!
                  </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Ask an E-Board Representative To Custom Order The Item, We're Awesome Like That.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Why Go Through UB To Get Equipment?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                 We get a lot of discounts by bulk-buying.  We also subsidize a lot for UB Undergrad.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    Why Do We Do All These Traditions?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Kendo is more then just Kieko.  Learning the Way Of The Sword is about the lifestyle that accompanies Kendo just as much as Kendo itself.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                    Is Everyone Always This Mean? (a.k.a "Someone yelled at me!")
                  </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Kendo is traditionally a Japenese Martial Art.  As such a lot of our members (especially the international ones) tend to practice traditionally, meaning they teach by doing.  Don't worry though, if you're being yelled at it means they care enough about you to correct you and make you better!  Keep up the good work! 
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    How Long Till I Can Wear Bogu? 
                  </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                 You have to wait to wear bogu.  Normally it takes about 6-7 months of straight training to become sufficient enough to wear bogu.  It does differ from person to person, don't be discouraged!  We do this to help keep you from hurting yourself or other bogu players.  Until then, when watching make sure you keep looking for points and good techniques.  
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                    Does Kendo Hurt?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nope!  The Shinai itself is 5 pieces of bamboo with air in the middle.  When it hits, the bamboo bends into the middle taking the grunt of the impact.  On top of that Bogu is very effective at keeping you safe!  Bogu translates to "Armor" after all!
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                    What is the ranking system in Kendo?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Kendo uses the kyu to dan grading system to determine ones level. The ranking goes as following from lowest to highest: Roku-kyu (6th kyu) to I-kyu(1st kyu) and Sho-dan (1st dan) to Hachi-dan (8th dan).
                            </div>
                        </div>
                    </div>
     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                    How long will it take to obtain "______" rank?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                There is no answer to this question. Do your best and do not be discourage if you do not obtain a higher rank. Kendo is a learning experience.
                            </div>
                        </div>
                    </div>
     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
                    Does UB Kendo Club participate in tournaments?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                            <div class="panel-body">
                                We participate in tournaments held by other universities and those held in upstate New York and Canada.
                            </div>
                        </div>
                    </div>
     
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
                    Can I practice outside of the Club Dojo?
                  </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Do not train outdoors or in your dorms with your shinai since it is considered a weapon. If you are on campus, always keep your shinai concealed. Make it to practice in order to improve your technique under supervision of Sensei. 
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>