<header class="intro welcome-intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">HomeFlipper</h1>
                    <p class="intro-text" style="color: #000">We Make Real Estate Investment</p>
                    <div class='col-md-4'><p class='intro-text-emphasis header-black'>Personal</p></div>
                    <div class='col-md-4'><p class='intro-text-emphasis header-black'>Reliable</p></div>
                    <div class='col-md-4'><p class='intro-text-emphasis header-black'>Accessible</p></div>
                    <a href="about_us" class="btn btn-circle page-scroll">
                        <i name='FindOutMore' class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>