<!DOCTYPE html>
<html lang="en" ng-app="homeflipper">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to HomeFlipper</title>

    <%= render 'partials/initial_scripts.html'%>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <%= render 'partials/navbar.html' %>
    <%= yield %>
    <%= render 'partials/script_footer.html' %>
</body>
</html>
